<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="orderDescribe"    column="order_describe"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderState"    column="order_state"    />
        <result property="orderPrice"    column="order_price"    />
        <result property="foodNumber"    column="food_number"    />
        <result property="payWay"    column="pay_way"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOrderVo">
        select order_id, update_by, create_time, order_describe, create_by, update_time, del_flag, order_number, order_state, order_price, food_number, pay_way, remark from `order`
    </sql>

    <select id="selectOrderNum" parameterType="Integer" resultType="Long">
        select count(*) from  `order`
        <where>
            <if test="flag != null and flag == 0">and day(create_time) = #{time}</if>
            <if test="flag != null and flag == 1">and month(create_time) = #{time}</if>
            <if test="flag != null and flag == 2">and YEAR(create_time) = #{time}</if>
            and del_flag = 0
        </where>
    </select>

    <select id="selectOrderStatistics" parameterType="Integer" resultType="Long">
        select sum(order_price) from `order`
        <where>
            <if test="day != null ">and day(create_time) = #{day}</if>
            <if test="month != null ">and month(create_time) = #{month}</if>
            <if test="year != null ">and YEAR(create_time) = #{year}</if>
            and del_flag = 0
        </where>

    </select>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="orderDescribe != null  and orderDescribe != ''"> and order_describe = #{orderDescribe}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="orderState != null "> and order_state = #{orderState}</if>
            <if test="orderPrice != null "> and order_price = #{orderPrice}</if>
            <if test="foodNumber != null "> and food_number = #{foodNumber}</if>
            <if test="payWay != null "> and pay_way = #{payWay}</if>
        </where>
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="orderDescribe != null">order_describe,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="orderState != null">order_state,</if>
            <if test="orderPrice != null">order_price,</if>
            <if test="foodNumber != null">food_number,</if>
            <if test="payWay != null">pay_way,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="orderDescribe != null">#{orderDescribe},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="orderPrice != null">#{orderPrice},</if>
            <if test="foodNumber != null">#{foodNumber},</if>
            <if test="payWay != null">#{payWay},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update `order`
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="orderDescribe != null">order_describe = #{orderDescribe},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orderPrice != null">order_price = #{orderPrice},</if>
            <if test="foodNumber != null">food_number = #{foodNumber},</if>
            <if test="payWay != null">pay_way = #{payWay},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from `order` where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from `order` where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>